@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Sans+3:wght@200;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* starting value for the remis 10px to ease calculations */
  /* 10px (desired value) /16px (browser default value) = 0.625 */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Source Sans 3", sans-serif;
  text-align: center;
}

header {
  color: #fff;
  height: 100vh;
  background: url("../assets/background-img-1.png");
  background-size: cover;
}
header a {
  color: #fff;
  text-decoration: none;
}
.navigation {
  width: 55%;
  margin-left: 15rem;
  padding-top: 5rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  /* padding-bottom: 10px; */
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6rem; /* 80% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nav-menu {
  font-size: 1.6rem;
  list-style: none;
  gap: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 200;
}
.burger-menu {
  display: none;
}
.active {
  border-bottom: 2px solid;
}

.hero img {
  height: 6.3rem;
  width: 6.3rem;
  margin-bottom: 2rem;
}
.hero h1 {
  margin-bottom: 4rem;
  font-family: "Oswald", sans-serif;
  font-size: 4.8rem;
  line-height: 6.4rem;
}
.hero h2 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 200;
}

.center {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main {
  max-width: 95rem;
  margin: 0 auto;
  padding: 9rem 0;
}

.main h2 {
  margin-bottom: 4rem;
  color: #464547;
  font-family: "Oswald", sans-serif;
  font-size: 4.8rem;
  line-height: 6.4rem;
}

.main h3 {
  margin-bottom: 4.5rem;
  color: #666;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
}
.main-flexbox {
  display: flex;
  justify-content: space-around;
  gap: 8.3rem;
  max-width: 90rem;
  margin: 0 auto;
}
.main p {
  color: #666;
  font-size: 1.6rem;
  flex-basis: 100%;
  line-height: 2.2rem;
  margin-bottom: 4rem;
}
.main button {
  padding: 0.6rem 1.8rem;
  color: #fff;
  border: none;
  border-radius: 1.8rem;
  background: #55c2d8;
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.learn-more {
  padding: 9rem 0;
  color: #fff;
  background: url("../assets/background-img-2.png");
  background-size: cover;
  height: 90vh;
}

.learn-more h2 {
  font-family: "Oswald", sans-serif;
  font-size: 4.8rem;
  line-height: 6.4rem;
  font-weight: 700;
}

.learn-more button {
  padding-left: 8px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  width: 9rem;
  height: 9rem;
  border-radius: 10rem;
  border: none;
  background-color: #39c2d7;
  margin-bottom: 7rem;
}
.learn-more h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 200;
}
.footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 20rem;
  background: #464547;
  text-align: left;
  padding: 4rem 15rem;
}
.footer img {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}
.footer span {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.6rem;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.footer address,
.footer a,
.footer p {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-bottom: 5px;
}
.footer address {
  grid-column: 3 / span 2;
}
.footer a {
  grid-row: 2;
  grid-column: 3 / span 2;
}
.footer-logo {
  margin-bottom: 1.5rem;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
}
.footer-copyright {
  grid-column: 6 / span 2;
  grid-row: 2;
  /* justify-self: end; */
  /* align-self: end; */
}
